.hero-section {
  position: relative;
  width: 100%;
  height: 90vh;
  background-image: url("/background3.JPG");
  background-size: cover;
  background-position: center 32%;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 0;
}

.hero-section__content {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero-section__content > h2 {
  position: absolute;
  top: 3%;
  right: 20px;
  margin: 0;
  font-size: 3rem;
}

.hero-socials {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.hero-socials a {
  color: #fff;
  margin-bottom: 20px;
  font-size: 1.8rem;
  transition: all 0.3s ease-in-out;
}

.hero-socials a:hover {
  color: #f05e00;
  transform: translateY(-5px);
}

.home-btn {
  position: absolute;
  left: 30px;
  bottom: 10%;
  background-color: #f05e00;
  color: white;
  border: none;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.3rem;
  transition: all 0.5s ease-in-out;
}

.home-btn:hover {
  background-color: transparent;
  border: solid 1px #f05e00;
  transform: translateX(10px);
  font-size: 1.4rem;
}

.about-me {
  padding: 40px 20px;
  color: #fff;
}

.about-me-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

.about-me-image img {
  width: 100%;
  max-width: 400px;
  border-radius: 5px;

  mix-blend-mode: screen;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.589);
}

.about-me-text {
  flex: 1;
}

.about-me-text h1 {
  font-size: 2.2rem;
  margin: 0;
}

.about-me-text p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #eaeaea;
  padding: 10px 0 0;
  margin: 0;
}

@media (max-width: 768px) {
  .about-me-container {
    flex-direction: column;
    text-align: center;
  }

  .about-me-image img {
    max-width: 300px;
  }

  .about-me-text h1 {
    font-size: 2rem;
  }

  .hero-section__content > h2 {
    display: none;
  }
  .hero-socials {
    left: 10px;
  }

  .home-btn {
    display: none;
  }
}
