@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@300;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

body {
  background-color: #161515;
  color: #f2f5ff;
  font-family: "Arial", sans-serif;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Black Ops One", system-ui;
  text-transform: uppercase;
}
