/* General Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #161515;
  color: #fff;
  box-shadow: 5px 5px 5px 1px #0000003c;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo img {
  max-height: 70px;
}

.nav-bar {
  display: flex;
}

.nav-bar > button {
  display: none;
}

.desktop-nav {
  display: flex;
  list-style: none;
}

.desktop-nav li {
  margin: 0 15px;
}

.desktop-nav li a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: transform 0.3s ease, border-bottom 0.3s ease;
  display: inline-block;
}

.desktop-nav li a:hover {
  border-bottom: 1px solid #ffffff;
  transform: translateY(-5px);
}

/* Search icon (comentar si no se usa) */
/* .search-icon button {
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
} */

/* Mobile Styles */
@media (max-width: 768px) {
  .nav-bar > button {
    display: block !important;
  }

  .desktop-nav {
    display: none;
  }

  .logo img {
    max-height: 50px;
  }
}

.drawer-content {
  width: 250px;
  height: 100%;
  padding: 20px;
  max-height: fit-content;
  background-color: #121212f7;
  text-align: center;
}

.drawer-content ul {
  list-style: none;
  padding: 0;
}

.drawer-content ul li {
  margin-bottom: 15px;
}

.drawer-content ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}
