.plan-card {
  background-color: #232323;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.652);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.3s;
  max-width: 100%;
}

.plan-card:hover {
  transform: scale(1.05);
}

.plan-image {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.plan-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.plan-title {
  font-size: 1.5rem;
  margin: 0 0 10px;
  color: white;
}

.plan-description {
  font-size: 1rem;
  color: #bfbfbf;
  margin-bottom: 20px;
}

.plan-price {
  font-size: 1.2rem;
  color: #f05e00;
  margin-bottom: 20px;
}

.plan-button {
  background-color: #f05e00;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.plan-button:hover {
  background-color: #000000;
}

@media (max-width: 768px) {
  .plan-card {
    max-height: 100vh;
  }
  .plan-image {
    height: 250px;
  }

  .plan-details {
    padding: 10px;
  }

  .plan-price {
    margin: 5px;
  }
}
